{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "printWidth": 120,
  "endOfLine": "lf",
  "vueIndentScriptAndStyle": true,
  "overrides": [
    {
      "files": ["*.vue"],
      "options": {
        "htmlWhitespaceSensitivity": "ignore"
      }
    }
  ]
}
